spring:
  application:
    name: monitoring-server

  config:
    # 유레카를 거치지 않고 직접 쿠버네티스 서비스 주소로 찌름
    import: 'optional:configserver:http://config-server.next-me.svc.cluster.local:3100'
  cloud:
    config:
      discovery:
        enabled: false
  data:
    redis:
      host: 34.50.7.8
      port: 6379

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        model: gpt-4o-mini
        options:
          temperature: 0.3

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eureka-server.next-me.svc.cluster.local:3151/eureka/

prometheus:
  url: ${PROMETHEUS_URL}

notification:
  slack:
    user-ids: ${SLACK_USER_ID}

springdoc:
  version: '1.0.0'
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /api-docs.html
    disable-swagger-default-url: true
    doc-expansion: full
  paths-to-match:
    - /**

server:
  port: 11118